<!DOCTYPE html>
<html>
<head>
  <title>App1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
   <ul class="nav nav-tabs">
      <li><%= link_to "Home",root_path %></li>
        <li><%= link_to "About Us",welcome_about_path %></li>
      <li><%= link_to "Contact",welcome_contact_path %></li>
      <li><%= link_to "Features",welcome_Features_path %></li>
      <li><%= link_to "FAQ",welcome_FAQ_path %></li>
      <li><%= link_to "pricing",welcome_Pricing_path %></li>
      <li><%= link_to "Logo in",root_path %></li>
      <li><%= link_to "invoices",invoices_path %></li>
    </ul>
  </div>
  
<%= yield %>

</body>
</html>
