<!DOCTYPE html>
<html>
<head>
  <title>App1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home",root_path %>
  <%= link_to "About Us",welcome_about_path %>
  <%= link_to "Contact",welcome_contact_path %>
  <%= link_to "Features",welcome_Features_path %>
  <%= link_to "FAQ",welcome_FAQ_path %>
  <%= link_to "pricing",welcome_Pricing_path %>
  <%= link_to "Logo in",root_path %>
  <%= link_to "invoices",invoices_path %>
  
<%= yield %>

</body>
</html>
